ion-view(title='MainMenu')
    ion-content
        h2 หน้าหลัก
        h4 แอ๊พช่วยเล่นและจัดการ
        .padding
            button.button.button-block.button-positive(ng-click='goTest()')
                | Quiz
